absl-py==2.1.0
accelerate==1.12.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.3.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
audioread==3.0.1
Babel==2.15.0
beautifulsoup4==4.12.3
biopython==1.84
bitsandbytes==0.49.2
bleach==6.1.0
certifi==2024.2.2
cffi==1.16.0
cftime==1.6.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.0
comm==0.2.2
contourpy==1.2.0
cupy-cuda12x==13.3.0
cycler==0.12.1
Cython==0.29.37
datasets==4.5.0
debugpy==1.8.1
decorator==5.1.1
deepspeed==0.14.5
DeepXDE==1.12.2
defusedxml==0.7.1
dill==0.4.0
distlib==0.3.9
dm-tree==0.1.8
docker-pycreds==0.4.0
einops==0.8.0
evaluate==0.4.6
executing==2.0.1
expecttest==0.2.1
fair-esm==2.0.0
fastjsonschema==2.19.1
fastrlock==0.8.2
filelock==3.13.1
flash-attn==2.6.3
flatbuffers==24.3.25
fonttools==4.50.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
grpcio==1.62.2
h11==0.14.0
h5py==3.10.0
hf-xet==1.2.0
hjson==3.1.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.6
hypothesis==6.98.4
idna==3.6
imbalanced-learn==0.12.2
imblearn==0.0
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.2
isoduration==20.11.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
Jinja2==3.1.3
jiwer==4.0.0
joblib==1.4.0
json5==0.9.25
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
keras==3.3.3
kiwisolver==1.4.5
lark==1.1.9
lazy_loader==0.4
lbmpy==1.3.7
libclang==18.1.1
librosa==0.10.2.post1
lightning==2.4.0
lightning-utilities==0.11.6
llvmlite==0.43.0
loguru==0.7.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
mmfreelm @ git+https://github.com/ridgerchu/matmulfreellm@ec1c298ffa3db6436831f3e6d46f4e59d0b99194
mpi4py==3.1.5
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
multiprocess==0.70.18
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netCDF4==1.7.1.post1
networkx==3.2.1
nfft==0.1
nglview @ file:///gpfs/home/bsc/bsc099040/installs/nglview-3.1.2.tar.gz#sha256=7f672efa2b6ca0db34de968e5b5766b14b1b3dade212d2f8a083c600a11345ce
ninja==1.11.1.1
notebook==7.1.3
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.0
numpy-stl==3.1.2
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.560.30
nvidia-nccl-cu11==2.21.5
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
onnx==1.16.0
onnx-graphsurgeon @ file:///gpfs/apps/MN5/ACC/TENSORRT/10.0.0/onnx_graphsurgeon/onnx_graphsurgeon-0.5.0-py2.py3-none-any.whl#sha256=6b7f77fc3199e66e0d5b328d99d3552a9e59f2b37a01f9a76c8b446d1205d1b2
opencv-python==4.10.0.84
opt-einsum==3.3.0
optimum==2.1.0
optree==0.10.0
overrides==7.7.0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
parso==0.8.4
peft==0.18.1
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
plumed==2.9.0
pooch==1.8.1
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyaml==24.9.0
pyarrow==15.0.2
pybind11==2.12.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.17.2
pyparsing==3.1.2
pystencils==1.3.7
pytest==8.1.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-utils==3.9.0
pytorch-lightning==2.4.0
pytz==2024.1
pyvista==0.43.4
PyYAML==6.0.1
pyzmq==26.0.3
RapidFuzz==3.14.3
referencing==0.35.1
regex==2024.7.24
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.4
scikit-learn==1.4.2
scikit-optimize==0.10.2
scipy==1.12.0
SCons==4.7.0
scooby==0.9.2
seaborn==0.13.2
Send2Trash==1.8.3
sentry-sdk==2.13.0
setproctitle==1.3.3
setuptools==69.1.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.5.0.post1
spglib==2.5.0
stack-data==0.6.3
sympy==1.12
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorrt @ file:///gpfs/apps/MN5/ACC/TENSORRT/10.0.0/python/tensorrt-10.0.1-cp312-none-linux_x86_64.whl#sha256=39238d603fc27c8c1733c09ea66e1d47066ffb5004a4721ef5388ab401815709
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.4.0
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
torch==2.3.0
torchaudio==2.7.1+cu118
torchcodec @ file:///gpfs/projects/ehpc485/tesi681824/transcriptor/wheels_torchcodec/torchcodec-0.10.0-cp312-cp312-manylinux_2_28_x86_64.whl#sha256=6e43184d83ccced965b31cad5bb6200c779646fee2ec153a6d784b4def40c91b
torchinfo==1.8.0
torchmetrics==1.4.1
torchvision==0.22.1+cu118
tornado==6.4
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.0
triton==3.0.0
typer==0.24.0
typer-slim==0.24.0
types-dataclasses==0.6.6
types-python-dateutil==2.9.0.20240316
typing_extensions==4.9.0
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.0
uv==0.8.17
virtualenv==20.29.2
vtk==9.3.0
wandb==0.17.7
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.2
wheel==0.42.0
widgetsnbextension==4.0.10
wispy @ file:///gpfs/home/bsc/bsc099170/wisp
wrapt==1.16.0
wxPython==4.2.2
xgboost==2.0.3
xxhash==3.6.0
yarl==1.9.4
